---
title: HOOOOLA
layout: 'base.njk'
---
<section class="section">
    <div class="container">
        <h1 class="title">
            Las Tareas de Hoy
        </h1>
        <p class="subtitle">
            Hagan lo siguiente <strong>porfa</strong>!
        </p>
    </div>
</section>

